<!DOCTYPE html>
<html>
  <head>
    <title>URL Shortener</title>
    <link rel="stylesheet" href="../style.css" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="mt-5">URL Shortener</h1>
      <form action="/url" method="POST">
        <label for="url">Enter URL to shorten:</label>
        <input
          type="text"
          name="url"
          required
          placeholder="https://www.example.com"
        />
        <button type="submit">Generate</button>
      </form>
      <table class="mt-5 table table-striped">
        <thead>
          <tr>
            <th>Clicks</th>
            <th>ShortId</th>
            <th>Redirect</th>
            <th>Analytics</th>
          </tr>
        </thead>
        <% if (locals.urls?.length){ %>
        <tbody>
          <% urls.forEach((url,index)=>{ %>
          <tr>
            <td><%= url.visitHistory ? url.visitHistory.length : 0 %></td>
            <td>
              <a href="<%= '/url/' + url.shortId %>"><%= url.shortId %></a>
            </td>
            <td><%= url.redirectUrl %></td>
            <td><a href="<%= 'url/analytics/' + url.shortId %>">GET</a></td>
          </tr>
          <% }) %>
        </tbody>
        <% } %>
         <% if (!locals.urls?.length){ %>
        <tbody>
          <tr><td colspan="4">No data found.</td></tr>
        </tbody>
        <% } %>
      </table>
    </div>
  </body>
</html>
